---
import { getCollection } from 'astro:content'; 
import Layout from '../layouts/default.astro';
import BlogPreview from '../components/blog-preview.astro';
import Signup from '../components/signup.astro';
import { types, topics } from '../content.config';

const notionPosts = await getCollection('notionBlog');

const posts = notionPosts.sort(
  (a, b) => a.data.publishedAt.getTime() - b.data.publishedAt.getTime(),
); 
---

<Layout title="Marisa Morby's Garden">
 <div class="newsletter">
  <h1>This is a headline</h1>
			<Signup />
  </div>

  <section class="preview-grid">
    {
      posts
        .sort((a, b) => (a.data.publishedAt > b.data.publishedAt ? -1 : 1))
        .map((post) => (
          <BlogPreview
            path={`/${post.id}`}
            title={post.data.title}
            description={post.data.description}
            img={post.data.image}
            type={post.data.type}
            topics={post.data.topics}
          />
        ))
    }
  </section>
</Layout>

<style>
  .newsletter {
    display: grid;
    place-content: center;
    box-sizing: border-box;
    padding-bottom: 30px;
  }

  .preview-grid {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, 292px);
    place-content: center;
  }
</style>
