---
import { Image } from '@unpic/astro';

export interface Props {
  path: string;
  img?: {
    src: string;
    alt?: string | null;
  };
  title: string;
  author: string;
  description?: string;
  topics?: string[];
  type: string;
}

const { path, img, title, author, description, topics = [], type } = Astro.props;
---

<div class="blog-preview" data-type={type} data-topic={topics.join(' ')}>

  <h2><a href={path}>{title}</a></h2>

  <p class="byline"><a href={path}>by {author}</a></p>

  <p><a href={path}>{description}</a></p>

</div>

<style>
  .blog-preview {
    container: blog-preview / inline-size;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    p {
      text-align: center;
    }
    a {
      text-decoration: none;
    }
    
    &:focus-within a, &:has(:hover) a {
      color: #BC680A;
    }
  }

  :is(h2, p, a) {
    margin: 0;
  }

  .image-placeholder,
  img {
    aspect-ratio: 292 / 230;
    background: color-mix(in oklch, var(--foreground) 5%, transparent);
    block-size: auto;
    border-radius: 30px;
    display: block;
    inline-size: 100%;
    object-fit: cover;
  }

  h2 {
    a {
      color: inherit;
      text-decoration: none;
    }
  }
</style>
